
<button>Add Club</button>

<button>Add tournament</button>




<h>AddClub</h>
<div id='Addclub'>
  <h1>AddClub</h1>
  <form name="Addclub" ng-submit='Addclub()'>
    <input type='text' ng-model='club.username'>
    <input type="password" ng-model='club.password'>
    <button>Add club</button>
    
  </form>
  
</div>


<h>Addtournament</h>
<div id='Add tournament'>
  <h1>Add tournament</h1>
  <form name="Add tournament" ng-submit='Addtournament()'>
    <input type='text' ng-model='tournament.id'>
    <input type="text" ng-model='tournament.password'>
    <button>Addtournament</button>
    
  </form>
  
</div>