/*.tabs-calm > .tabs{
background-color: #006600 !important;
}
*/

.bar-light{
background-color:  #6600cc !important;
}
.title{
color:#a64dff !important;
}
body{
background-color: white;
}

.popup {
    width: 400px !important;
}
.popup-title {
    color: #6600cc !important;
}
.popup-sub-title{
    color: #6600cc !important;
}

.popup-body > .item.item-input {
    background-color: grey !important;
    border: 1px solid black !important;
}

.bt{
   background-color: white;
    color: #6600cc !important;
    width:250px;
    align:center;
}
.img{
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    background: url(1.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    z-index: 2;
    position: relative;
}

.list >.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.list > .ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;
   -webkit-animation-duration:0;
  animation-duration:0;
}

