node_modules
._*
db/
npm-debug.log
coverage/

Ionic-Material-master/

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
platforms/ios
plugins/
bower_components/

resources/

.tmp/
www/lib
.sass-cache
*.DS_Store
*.log

app/scripts/bundle.js
app/scripts/bundle.js.map