<h1 class="padding">LOGIN</h1>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name" ng-model='user.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Last Name" ng-model='user.password'>
  </label>
</div>

<ion-list>
  <ion-checkbox id="player" ng-model="user.player" value="player">Player</ion-checkbox>
  <ion-checkbox id="club" ng-model="user.club" value="club">Club</ion-checkbox>
</ion-list>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="signin()">
  signin
  </button>
