<h2 class="padding">Signup</h2>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">User Name</span>
    <input type="text" placeholder="User Name" ng-model='club.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="password" ng-model='club.password'>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Country</span>
    <input type="text" placeholder="country" ng-model='club.country'>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Club Name</span>
    <input type="text" placeholder="club name" ng-model='club.clubName'>
  </label>
</div>

<button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="signup()">
  signup
</button>