<center><h1 class="padding">Register New Admin</h1></center>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin username</span>
    <input type="text" placeholder="Admin Username" ng-model='admin.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin Password</span>
    <input type="password" placeholder="Admin Password" ng-model='admin.password'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin email</span>
    <input type="text" placeholder="Admin Email" ng-model='admin.email'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin firstName</span>
    <input type="text" placeholder="Admin FirstName" ng-model='admin.firstName'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin lastName</span>
    <input type="text" placeholder="Admin LastName" ng-model='admin.lastName'>
  </label>
</div>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="signup()">
  Register
</button>