<h1>singup</h1>
<h1 class="padding">signup</h1>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin username</span>
    <input type="text" placeholder="admin username" ng-model='admin.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin Password</span>
    <input type="password" placeholder="admin password" ng-model='admin.password'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin email</span>
    <input type="text" placeholder="admin email" ng-model='admin.email'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin firstName</span>
    <input type="text" placeholder="admin firstName" ng-model='admin.firstName'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin lastName</span>
    <input type="text" placeholder="admin lastName" ng-model='admin.lastName'>
  </label>
</div>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="signup()">
  signup
</button>