<center><h1 class="padding">Admin Sign In</h1></center>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin Name</span>
    <input type="text" placeholder="Admin Name" ng-model='admin.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Admin Password</span>
    <input type="password" placeholder="Admin Password" ng-model='admin.password'>
  </label>
</div>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="signin()">
  Sign In
</button>