<ion-content scroll="false" >
  <ion-slides  options="options" does-continue="true" ng-if="AllTournament.data.length" slider="data.slider">
    <ion-slide-page  ng-repeat="tournament in AllTournament.data |orderBy:'- Date' ">
    <div class="tournament">
    <img style=" margin-left:10%; margin-top:10%;margin-bottom:3%;width: 80%; height:40%"   src='{{tournament.poster}}'/>
    <div style="margin-left:10%">
    <div class="Comptetion"> The <span style="font-weight: bold;    text-align: center;">{{tournament.name}}</span> Comptetion<br><br>
    </div>
    <div class="tournamentcolor">
    <span class="tournamenttitel" > Place: </span> it will be in {{tournament.place}}<br>
    </div>
    <div class="tournamentcolor">
    <span class="tournamenttitel" ">Organizer By:</span>{{tournament.organizer}}<br>
    </div>
    <div class="tournamentcolor">
    <span class="tournamenttitel" ">Date:</span>Date:{{tournament.Date}}<br></div>
    <div class="tournamentcolor">
    <span class="tournamenttitel" "> More details:</span>{{tournament.details}}<br>
    </div>
    </div>
    </ion-slide-page>
   
  </ion-slides>
</ion-content>