

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Tournament Name</span>
    <input type="text" placeholder="Tournament Name" ng-model='tournament.search'>
</div>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="SearchAboutTournament()">
  search
</button>
<label ng-model='massage'>
{{massage}}
</label>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Tournament Name</span>
    <input type="text" placeholder="Tournament Name" ng-model='tournament.name'>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Tournament place</span>
    <input type="text" placeholder="Tournament place" ng-model='tournament.place'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Tournament details</span>
    <input type="text" placeholder="Tournament details" ng-model='tournament.details'>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Tournament organizer</span>
    <input type="text" placeholder="Tournament organizer" ng-model='tournament.organizer'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Tournament Date</span>
    <input type="text" placeholder="Tournament Date" ng-model='tournament.Date'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Tournament poster</span>
    <input type="text" placeholder="Tournament poster" ng-model='tournament.poster'>
  </label>
</script>

  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="EditTournament()">
  Edit Tournament
</button>
 <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="DeleteTournament()">
  Delete Tournament
 </button>
