<div  style="background-image:url('http://www.wpclipart.com/page_frames/background_pages/sky_backgrounds/beautiful_sky_background_page.jpg');width:100%;height:100%;">
	<div class="img"></div>
	<div style="text-align:center;margin:auto;">
	<br><br><br><br>
	&nbsp;<button class="button button-outline icon icon-left ion-person button-dark bt" ng-click="showPopup()">Signin</button>
	<br><br>	
	<a class="button button-outline icon icon-left ion-trophy button-dark bt" href="#/AllTournament">Tournament</a>
</div>