<ion-modal-view>
<ion-content>

<div ng-repeat="tournament in SearchTournament.data |orderBy:'- Date' ">
<div class="item item-avatar"  >
		    <img src="{{tournament.poster}}" >
		    
		    <h2>{{tournament.name}}</h2>
		    <p>{{tournament.place}}</p>
		     <p>{{tournament.organizer}}</p>
		      <p>{{tournament.Date}}</p>
		       <p>{{tournament.details}}</p>
		  </div>
</div>

<button class="button button-block button-dark" ng-click="closetournament()">Back</button>
	</ion-content>
</ion-modal-view>