<ion-view>
  <ion-pane>
    <div  style="background-image:url('http://www.wpclipart.com/page_frames/background_pages/sky_backgrounds/beautiful_sky_background_page.jpg');width:100%;height:100%;">
     <ion-content ng-show="flag" class="has-footer">
        <div class="list card" ng-repeat="video in videos">
          <div class="item item-text-wrap">
            <h2>{{video.snippet.title}}</h2>
            <p>{{video.snippet.publishedAt | limitTo: 10}}</p>
          </div>
          <div class="item item-image">
            <div class="video-container">
              <youtube-video  video-id="video.id.videoId" ></youtube-video>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-content ng-if="!flag" style="background-color:black">
        <iframe src="//giphy.com/embed/m2lFxX5xwnsaY" style="margin-top:40px;margin-left:35px;" width="80%" height="30%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <br><br><br>
        <h1 style="color:red;text-align:center;">{{data.club}}</h1>
        <h3 style="color:white;text-align:center;">Not Yet Added A channel</h3>
        <h2 style="color:white;text-align:center;">Please Contact Them</h2>
        </div>
      </ion-content>
    </div>
  </ion-pane>
</ion-view>