 <ion-header-bar style="background-color:{{data.beltColor}}" class="bar bar-header" 
 ng-controller="parentController" >
   <ion-title>Zarad</ion-title>
   <button style="color:{{initColor}}" ng-click="showAction()" class="button button-icon button-clear icon ion-navicon"></button>
 </ion-header-bar>
<ion-tabs class="tabs-icon-top tabs-stable" style="background-color:blue">
    <ion-tab title="Profile" icon="ion-home" href="#/userprofile/home">
      <ion-nav-view name="home-tab" class="has-header"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon="ion-person" href="#/userprofile/about">
      <ion-nav-view name="about-tab" class="has-header"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contact" icon="ion-ios-world" href="#/userprofile/club">
      <ion-nav-view name="club-tab" class="has-header"></ion-nav-view>
    </ion-tab>
</ion-tabs>
