<!-- <h2>ss</h2>
<h1 class="padding">Add Club</h1>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Club userName</span>
    <input type="text" placeholder="Club userName" ng-model='club.username'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Club Password</span>
    <input type="password" placeholder="Club password" ng-model='club.password'>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Club Name</span>
    <input type="text" placeholder="Club Name" ng-model='club.name'>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Club Country</span>
    <input type="text" placeholder="Club Country" ng-model='club.country'>
  </label>
</div>
  <button class="button button-full button-outline button-stable icon-right ion-chevron-right" ng-click="Addclub()">
  Add Club
</button> -->

<!-- <div id='Addclub'>
  <h1>AddClub</h1>
  <form name="Add club" ng-submit='Addclub()'>
    <label>Club Name</label>
    <input type='text' ng-model='club.Name'></br>
    <label>Club Username</label>
    <input type='text' ng-model='club.username'></br>
    <label>Club password</label>
    <input type="password" ng-model='club.password'></br>
    <button>Addclub</button>

  </form>
  
</div>
 -->
<!-- <div id='Add-tournament'>

  <h1>Add tournament</h1>
  <form name="Add tournament" ng-submit='Addtournament()'>
    <input type='text' ng-model='tournament.id'>
    <input type="text" ng-model='tournament.password'>
    <button>Addtournament</button>

    
  </form>
  
</div> -->