<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add New User</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="Enter User First Name" ng-model="clubNewUser.firstName" >
        </label>

        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Enter User Last Name" ng-model="clubNewUser.lastName" >
        </label>

        <label class="item item-input">
          <span class="input-label">Middle Name</span>
          <input type="text" placeholder="Enter User Middle Name" ng-model="clubNewUser.middleName">
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Enter user password" ng-model="clubNewUser.password">
        </label>

         <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="text" placeholder="Enter User Age" ng-model="clubNewUser.age">
        </label>

         <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Enter User Email" ng-model="clubNewUser.email">
        </label>

         <label class="item item-input">
          <span class="input-label">Country</span>
          <input type="text" placeholder="Enter User country" ng-model="clubNewUser.country">
        </label>

        <label class="item item-input">
          <span class="input-label">PhoneNumber</span>
          <input type="text" placeholder="Enter User PhoneNumber" ng-model="clubNewUser.phone">
        </label>

        <label class="item item-input">
          <span class="input-label">Belt Color</span>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('white')">
              <i class="icon ion-minus" style="color: #e6e6e6 !important"></i> 
            </button>
          </label>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('orange')">
              <i class="icon ion-minus" style="color: orange !important"></i> 
            </button>
          </label>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('green')">
              <i class="icon ion-minus" style="color: green !important"></i> 
            </button>
          </label>
        </label>

        <label class="item item-input">
          <span class="input-label"></span>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('blue')">
              <i class="icon ion-minus" style="color: blue !important"></i> 
            </button>
          </label>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('pruple')">
              <i class="icon ion-minus" style="color: purple !important"></i> 
            </button>
          </label>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('red')">
              <i class="icon ion-minus" style="color: red !important"></i> 
            </button>
          </label>
        </label>

        <label class="item item-input">
           <span class="input-label"></span>
           <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('brown')">
              <i class="icon ion-minus" style="color: brown !important"></i> 
            </button>
          </label>
           <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData('black')">
              <i class="icon ion-minus" style="color: black !important"></i> 
            </button>
          </label>
        </label>


        <label class="item item-input">
          <span class="input-label">Achievements</span>
          <input type="text" placeholder=" Enter name of achievement" ng-model="clubNewUser.achievements.name">
        </label>

        <label class="item item-input">
          <span class="input-label">Meddale</span>
          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData(1)">
              <i class="icon ion-ribbon-a" style="color: #ffd700 !important"></i> 
            </button>
          </label>

          <label>
            <button class="button button-clear button-dark" ng-click="getAchievmentData(2)">
             <i class="icon ion-ribbon-a" style="color: #cd7f32 !important"></i>
            </button>
          </label>

          <label>
           <button class="button button-clear button-dark" ng-click="getAchievmentData(3)">
               <i class="icon ion-ribbon-a" style="color: #c0c0c0 !important"></i>
             </button>   
           </label> 
        </label>

        <label class="item item-input">
          <span class="input-label">Membership</span>
          <input type="text" placeholder="Enter User membership" ng-model="clubNewUser.membership">
        </label>

        <div style="text-align: center">
          <button class="button button-outline icon icon-left ion-close-round button-dark bt" ng-click="addUserModal.hide();">Cancel Adding</button>
          <button class="button button-outline icon icon-left ion-edit button-dark bt" ng-click="AddUser()">Finished Adding</button>
        </div>

      </div>
    </form>
  </ion-content>
</ion-modal-view>