<section id="cd-timeline" class="cd-container ng-enter-stagger"  ng-init="callModals();">
    <div ng-repeat="info in clubUsers.data">
      <div class="cd-timeline-block">
        <div class="cd-timeline-picture text-center royal">
          <img ng-src="{{info.user.image}}" />
        </div>
        <div class="cd-timeline-content padding royal">
          <h4 class="marginBottom0 marginTop0">{{info.user.firstName}}&nbsp;{{info.user.lastName}}</h4>
          <p class="marginTop5 cd-author">Subscription Date: {{info.user.subscription}}</p>
          <button class="button" type="button" ng-click="showUser(info);userProfileModal.show()">view user</button>&nbsp;<button class="button" ng-click="editUser(info);editUserModal.show();">Edit User</button>&nbsp;<button class="button">Remove User</button>
          </div>
      </div>
  </div>
</section>