<ion-header-bar class="bar bar-header bar-dark">
 <ion-title class="title">Zarad</ion-title>
 <button ng-click="showClubAction()" class="button button-icon button-clear icon ion-navicon"></button>
</ion-header-bar>


<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="Profile" icon="ion-home" href="#/club/clubProfile">
      <ion-nav-view name="profile-tab" class="has-header"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Tournments" icon="ion-trophy" href="#/club/allTournament">
      <ion-nav-view name="tournament-tab" class="has-header"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Users" icon="ion-person-stalker" href="#/club/allUsers">
      <ion-nav-view name="users-tab" class="has-header"></ion-nav-view>
    </ion-tab>
</ion-tabs>