<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit&nbsp;{{club.data.clubName}}&nbsp;Profile</h1>
  </ion-header-bar>

  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Club Name</span>
          <input type="text" placeholder="Edit Club Name" ng-model="club.data.newClubName" ng-value="club.data.clubName" >
        </label>

        <label class="item item-input">
          <span class="input-label">Country</span>
          <input type="text" placeholder="Edit Country Name" ng-model="club.data.country" ng-value="club.data.country">
        </label>

        <label class="item item-input">
          <span class="input-label">ChannelID</span>
          <input type="text" placeholder="Change ChannelID" ng-model="club.data.channelId" ng-value="club.data.channelId" >
        </label>

         <label class="item item-input">
          <span class="input-label">Old Password</span>
          <input type="password" placeholder="Enter Old Password" ng-model="club.data.oldPassword" ng-value="club.data.oldPassword" >
        </label>

         <label class="item item-input">
          <span class="input-label">New Password</span>
          <input type="password" placeholder="Enter New Password" ng-model="club.data.password" ng-value="club.data.password" >
        </label>

        <label class="item item-input">
          <span class="input-label">Image</span>
          <!-- <input type="text" placeholder="Change Club Logo" ng-model="club.data.Image" ng-value="club.data.Image" > -->
          <button class="button button-stable col col-bottom bottom bottom-right" ng-click="showOptions()">Change Picture</button>
        </label>

        <!-- <label class = "col text-right button icon ion-locked button-stable" ng-click="showPassWord()">  Change Password</label> -->
        <div style="text-align: center">
          <button class="button button-outline icon icon-left ion-close-round button-dark bt" ng-click="cancelClubEditing()">Cancel Edit</button>
          <button class="button button-outline icon icon-left ion-edit button-dark bt" ng-click="confirmClubEdit()">Finished Edit</button>
        </div>

      </div>
    </form>
  </ion-content>
</ion-modal-view>